<div class="pagination clearfix mb1 mt4">
  
  <div class="left">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="pagination-item" href="{{ site.baseurl }}/">&laquo; Prev</a>
      {% else %}
        <a class="pagination-item" href="{{ paginator.previous_page_path }}/">&laquo; Prev</a>
      {% endif %}
    {% else %}
      <span class="pagination-item disabled">&laquo; Prev</span>
    {% endif %}
  </div>
  
  <div class="right">
    {% if paginator.next_page %}
      <a class="pagination-item" href="{{paginator.next_page_path}}/">Next &raquo;</a>
    {% else %}
      <span class="pagination-item disabled">Next &raquo;</span>
  </div>
</div>
