<div class="pagination clearfix mb1 mt4">
  <div class="left">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="pagination-item" href="{{ site.baseurl }}">Prev</a>
      {% else %}
        <a class="pagination-item" href="{{paginator.previous_page_path}}">Prev</a>
      {% endif %}
    {% else %}
      <span class="pagination-item disabled">Prev</span>
    {% endif %}
  </div>
  <div class="right">
    {% if paginator.next_page %}
      <a class="pagination-item" href="{{paginator.next_page_path}}">next</a>
    {% else %}
      <span class="pagination-item disabled">next</span>
    {% endif %}
  </div>
</div>
